<div class="container-fluid pt-4" id="contato">
  <div class="row">

    <div class="col-md-12 text-center">

      <h2 class="text-white">Redes Sociais</h2>

      <a href="https://www.linkedin.com/in/augustocesarsl/">
        <img class="mt-5 mx-3 " src="https://i.imgur.com/EwQ6XCT.png" alt="" height="65px">
      </a>

      <a href="https://github.com/AugustoCesarAC">
        <img class="mt-5 mx-3 " src="https://i.imgur.com/sUCil82.png" alt="" height="65px">
      </a>

    </div>

    <div class="col-md-12">

      <div class="text-center p-5 mt-5 fs-4 text-white font-monospace fw-bold" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2022 Copyright:
        <a class="text-white font-monospace fs-4 fw-bold" href="https://www.linkedin.com/in/augustocesarsl/">Augusto César da Silva Luis</a>
      </div>

      <h4 class="text-center text-white font-monospace" >Email: acsilvaluis@outlook.com </h4>

    </div>


  </div>

  <div class="row">

  </div>


