<div class="container-fluid pt-5" id="meusProjetos">
  <div class="row">
    <div class="col">
      <h1 class="text-center my-5 text-white fw-bolder font-monospace">Meus Projetos</h1>
    </div>
  </div>




  <main class="page-content">
    <div class="card">
      <div class="content">
        <h2 class="title">Ticket for Snacks</h2>
        <p class="copy">É um projeto voltado a ODS Fome Zero, onde foi feito um E-commerce na venda de ingressos para
          ajudar na causa</p>
        <button class="btn"> <a href="https://ticketforsnacks.netlify.app/#/home" target="_blank"> Clique para acessar o site </a>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Forja da Raposa</h2>
        <p class="copy">É um projeto para a venda de impressões 3D, onde foi feito um E-commerce para a venda desses
          produtos</p>
        <button class="btn">Ainda em construção</button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Blog Pessoal</h2>
        <p class="copy">É um projeto de partida, onde foi feito uma rede social, meu primeiro projeto neste mundo de
          Desenvolvedor</p>
        <button class="btn"> <a href="https://blopessoalgus.netlify.app/#/entrar" target="_blank"> Clique para acessar o site </a>
        </button>
      </div>
    </div>
    <div class="card">
      <div class="content">
        <h2 class="title">Curriculo</h2>
        <p class="copy">É um projeto voltado a apresentação de "quem sou eu", onde foi feito uma landing page,
          utilizando o Figma como base</p>
        <button class="btn"> <a onclick="window.location.href = '#inicio'"> Clique para acessar o site </a> </button>
      </div>
    </div>
  </main>

</div>
