<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="px-4"></div>
    <button class="btn btn-dark border-0"> <a class="navbar-brand" onclick="window.location.href = '#inicio'">Augusto César</a> </button>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarNav">
      <ul class="navbar-nav d-flex justify-content-around">

        <li class="nav-item">
          <button class="btn btn-dark border-0">  <a class="nav-link px-5" aria-current="page" onclick="window.location.href = '#sobreMim'">Sobre mim</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark border-0"> <a class="nav-link px-5" onclick="window.location.href = '#meusProjetos'">Meus Projetos</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark border-0">  <a class="nav-link px-5" onclick="window.location.href = '#linguagens'">Linguagens</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark border-0">  <a class="nav-link px-5" onclick="window.location.href = '#competencias'">Competências</a></button>
        </li>
        <li class="nav-item">
          <button class="btn btn-dark border-0">  <a class="nav-link px-5" onclick="window.location.href = '#contato'">Contato</a></button>
        </li>

      </ul>
    </div>
  </div>
</nav>
