<div class="container-fluid text-white d-flex align-content-stretch flex-wrap" id="linguagens">

  <div class="row text-center">

    <div class="col-md-12">
      <h1 class="text-center my-5 text-white fw-bolder font-monospace">Linguagens, Frameworks e Banco de Dados
        conhecidos</h1>
    </div>

    <div class="row">

      <div class="col-md-4">
        <img src="../../assets/img/1.png" alt="">
      </div>

      <div class="col-md-4">
        <img src="../../assets/img/2.png" alt="">
      </div>

      <div class="col-md-4">
        <img src="../../assets/img/3.png" alt="">
      </div>

    </div>

    <div class="row">

      <div class="col-md-6">
        <img src="../../assets/img/4.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="../../assets/img/5.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="../../assets/img/6.png" alt="">
      </div>

      <div class="col-md-6">
        <img src="../../assets/img/7.png" alt="">
      </div>

    </div>





  </div>

</div>
