<div class="container-fluid d-flex justify-content-center align-items-center" id="inicio">
    <div class="animanome row ">
      <div class="static-txt fw-800 text-center">Bem vindo ao meu portfólio <br>Me chamo Augusto César e aqui você
        verá: </div>
      <ul class="dynamic-txts text-center">
        <li><span></span></li>
        <li><span>Sobre mim.</span></li>
        <li><span>Meus Projetos.</span></li>
        <li><span>Linguagens.</span></li>
        <li><span>Competências.</span></li>
      </ul>
    </div>
</div>
